nav {
  width: 100%;
  overflow: hidden;
  background-color: rgb(74, 112, 226);
  position: fixed;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  float: right;
}

nav a {
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: black;
  margin: 3px 40px 5px 0px;
  padding: 20px 15px 20px 15px;
}

nav a:hover {
  background: black;
  color: white;
}
